[Desktop Entry]
Name=CORA Configurator
Exec=/home/matt/Desktop/CORA/Software/cora_configurator/run.sh
Icon=/home/matt/Desktop/CORA/Software/cora_configurator/assets/icon.png
Type=Application
Terminal=false
